* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  */
body,
header {
  background-color: #4ea0ff;
}
#container,
main {
  background-color: white;
  position: relative;
  width: 70%;
  margin-left: calc((100% - 70%) / 2);
  margin-top: 10%;
}
header {
  background-image: url("img/pattern.png");
  background-size: contain;
  height: 70px;
}
#logo {
  position: relative;
  height: 40px;
  top: 40%;
}
.link1 {
  text-decoration: none;
  color: #4ea0ff;
}
address {
  font-size: small;
  color: grey;
}
