* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
/*  */
body,
header {
  background-color: #4ea0ff;
}
#container,
main {
  background-color: white;
  position: relative;
  width: 70%;
  margin-left: calc((100% - 70%) / 2);
  margin-top: 10%;
}
header {
  background-image: url("img/pattern.png");
  background-size: contain;
  height: 70px;
}
#logo {
  position: relative;
  height: 40px;
  top: 40%;
}
.link1 {
  text-decoration: none;
  color: #4ea0ff;
}
address {
  font-size: small;
  color: grey;
  margin: 20px 0px;
}
#Tim {
  width: 70vw; /*differenza di 11.91 px, perchè? a ogni vw corrispondono 12,14px di differenza, dove ci stiamo perdendo quel valore inferiore all'1%? c'è forse un bordo attorno l'immagine che conta per un'altra immagine? */
  margin-left: calc((-100% + 70% - 15% + 2.25%) / 2);
  /* 2.25% è il 15% del 15% XD almeno il margine è corretto*/
  height: 400px;
}
figure > img {
  height: 300px;
}
#one {
  float: left;
}
#two {
  float: right;
  position: relative;
}
section,
article {
  margin: 10% 0%; /*repeat*/
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  background-color: #4ea0ff;
}
tbody > tr:nth-of-type(2n + 1) {
  background-color: aquamarine;
}

footer {
  text-align: center;
}
.gallery {
  position: relative;
}
strong {
  color: rgb(97, 90, 90);
}
.insertion {
  position: absolute;
  left: 5%;
  top: 5%;
  color: white;
  font-size: xx-large;
}
